{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Rapid Reading</title>
    <link rel="stylesheet" href="{% static 'speedcheckapp/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'speedcheckapp/css/test.css' %}">
</head>

<body>
    <header>
        <div class="container header-container">
            <a class="logo" href="{% url 'home' %}">
                <img src="{% static 'app/img/Logo img.svg' %}" alt="logo img">
            </a>

            <img class="logo2" src="{% static 'app/img/Logo 2.svg' %}" alt="cool logo img">

            <nav class="header-nav">
                <ul class="header-list">
                    <li class="header-list-item">
                        <a href="{% url 'home' %}" class="header-link">
                            Главная
                        </a>
                    </li>

                    <li class="header-list-item">
                        <a href="{% url 'start' %}" class="header-link">
                            Тест
                        </a>
                    </li>

                    <li class="header-list-item">
                        <div class="profile">
                            {% if not user.is_authenticated %}
                            <a href="{% url 'login' %}" class="header-link">
                                Войти
                            </a>
                            {% else %}
                                 <a href="{% url 'manual' %}"><span class="profile-name">Учебник</span></a>
                            {% endif %}
                        </div>
                    </li>

                    <li class="header-list-item">
                        {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="header-link">
                            Выйти
                        </a>
                        {% else %}
                        <a href="{% url 'manual' %}" class="header-link">
                            Учебник
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h1 class="title">
            {{ title }}
        </h1>
        <div class="text">
            {% for par in text %}
                <p>{{ par }}</p>
            {% endfor %}
        </div>

        <div class="btn-and-timer">
            <a href="">
                <form method="post">
                    {% csrf_token %}
                    <button class="finish-btn" onclick="end()" type="submit">
                        <span class="btn-text">Прочитано</span>
                    </button>
                    <input type="text" class="to-send" value="None" id="to-send" name="time">
                </form>
            </a>
            <div class="timer">
                <b><span id="minute">00</span>:<span id="second">00</span>:<span id="ms">00</span></b>
            </div>
        </div>
        
        
        <script src="{% static 'speedcheckapp/js/test.js' %}"></script>
    </main>


</body>

</html>