* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-Regular'), 
    url('../fonts/OpenSans-Regular.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-Light'), 
    url('../fonts/OpenSans-Light.woff2') format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-SemiBold'), 
    url('../fonts/OpenSans-SemiBold.woff2') format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-Bold'), 
    url('../fonts/OpenSans-Bold.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    width: auto;
    min-width: 1140px;
    font-family: "OpenSans", Arial;
}

a {
    color: #000;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header-nav {
    display: inline-block;
    padding-right: 40px;
}

.logo {
    padding-left: 40px;
}

header {
    margin-bottom: 84px;
    margin-top: 40px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.header-list {
    list-style-type: none;
    margin: 0;
    display: flex;
}

.header-list-item {
    display: inline;
    font-family: 'OpenSans', 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    padding: 15px;
}

.profile {
    display: inline-flex;
    align-content: center;
    grid-gap: 5px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}

.img-and-head {
    display: flex;
    align-items: center;


}

.head {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    color: #FD6916;
}

.res-p {
    position: relative;
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 68px;
    text-align: center;

    margin-top: 0;
    margin-bottom: 40px;
}

.orange-text {
    color: #FD6916;
}

.arrow-1 {
    position: absolute;
    left: 710px;
    top:100px

}

.arrow-2 {
    position: absolute;
    top: 70px;
    right: 166px;
}

.arrow-3 {
    position: absolute;
    top: 65px;
    left: 198px
}

.login {
    text-align: center;
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
}

.profile {
    display: inline-flex;
    align-content: center;
    grid-gap: 5px;
}