{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Rapid Reading</title>
    <link rel="stylesheet" href="{% static '/app/normalize.css' %}">
    <link rel="stylesheet" href="{% static '/app/scorochtenije.css' %}">
</head>

<body>
    <header>
        <div class="container header-container">
            <a class="logo" href="#">
                <img src="{% static 'app/img/Logo img.svg' %}" alt="logo img">
            </a>
            <nav class="header-nav">
                <ul class="header-list">
                    <li class="header-list-item">
                        <a href="#" class="header-link">
                            Главная
                        </a>
                    </li>

                    <li class="header-list-item">
                        <a href="#" class="header-link">
                            Контакты
                        </a>
                    </li>

                    <li class="header-list-item">
                        <div class="profile">
                            {% if not user.is_authenticated %}
                            <a href="{% url 'auth' %}" class="header-link">
                                Войти
                            </a>
                            {% else %}
                                <img src="{% static 'app/img/profile.png' %}" alt="profile">
                                 <span class="profile-name">{{ user.username }}</span>
                            {% endif %}
                        </div>
                        
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
        <section class="get-started">
            <div class="container">
                <div class="introduction">
                    <img src="{% static 'app/img/get-started.png' %}" alt="get-started" class="get-started-img">
                    <div class="introduction-text">
                        <h1>
                            Повысьте свои навыки скорочтения
                        </h1>
                        <p class="introduction-text-p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                        </p>
                        <a href="{% url 'auth' %}">
                            <button class="start-btn">
                                Начать обучение
                            </button>
                        </a>
                    </div>

                </div>
            </div>
        </section>

        <section class="description">
            <div class="line">
                <div class="cards">
                    <div class="card card1">
                        <img class="card-img" src="{% static 'app/img/ellipse card 1.png' %}" alt="ellipse">
                        <h3 class="card-head">
                            20 минут в день
                        </h3>
                        <p class="card-p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                        </p>
                    </div>
                    <div class="card card2">
                        <img class="card-img" src="{% static 'app/img/ellipse card 2.png' %}" alt="ellipse">
                        <h3 class="card-head">
                            Запоминайте больше
                        </h3>
                        <p class="card-p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                        </p>
                    </div>
                    <div class="card card3">
                        <img class="card-img" src="{% static 'app/img/ellipse card 3.png' %}" alt="ellipse">
                        <h3 class="card-head">
                            Читайте в 8 раз быстрее
                        </h3>
                        <p class="card-p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                        </p>
                    </div>
                    <div class="card card4">
                        <img class="card-img" src="{% static 'app/img/ellipse card 4.png' %}" alt="ellipse">
                        <h3 class="card-head">
                            Осваивайте любые списки литературы
                        </h3>
                        <p class="card-p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                        </p>
                    </div>
                </div>
            </div>

            <div class="orange-description">
                <div class="description-container">
                    <img src="{% static 'app/img/description.png' %}" alt="description img">
                    <div class="description-text">
                        <h2 class="description-head">
                            Онлайн-самоучитель скорочтения
                        </h2>
                        <p class="description-p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                        </p>
                    </div>
                    <img src="{% static 'app/img/circle.png' %}" alt="decoration" class="pink-circle">

                </div>
            </div>
        </section>

        <section class="start-now">
            <article class="start-now-article">
                <img class="start-now-img" src="{% static 'app/img/start now.png' %}" alt="start-now">
            <div class="save-time">
                <h2 class="save-time-head">
                    Сэкономьте время уже сегодня, начав прямо сейчас
                </h2>
                <p class="save-time-p">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                </p>
                <a href="{% url 'auth' %}">
                    <button class="register-btn">
                        Зарегестрироваться
                    </button>
                </a>
            </div>
            </article>
        </section>

    </main>

</body>

</html>