* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inglobal';
    src: local('Inglobal-Regular'), 
    url('../fonts/Inglobal-Regular.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inglobal';
    src: local('Inglobal-Bold'), 
    url('../fonts/Inglobal-Regular.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
}

html {
    background-color: #FFEFD5;
}

body {
    margin: auto;
    min-width: 1140;
    width: 1440px;
    font-family: "Inglobal", Arial;
}

a {
    color: #000;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    margin-left: 138px;
    margin-bottom: 60px;
    margin-top: 26px;
    width: 1165px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin: 0;
}

.header-list {
    list-style-type: none;
    margin: 0;
}

.header-list-item {
    display: inline;
    font-family: 'Inglobal', 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    padding: 15px;
}

.header-nav {
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 30px;
}

.logo2 {
    margin-left: 250px;
    margin-bottom: 25px;
}

.get-started-img {
    display: inline-block;
}

.introduction {
    display: flex;
    width: 1140px;
    grid-gap: 95px;
    align-items: center;
    margin-bottom: 78px;
}

h1 {
    font-family: 'Inglobal', 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: rgba(204, 49, 0, 0.71);
    margin-top: 0;
    margin-bottom: 30px;
}

.introduction-text {
    width: 399px;
    height: 420px;
    display: inline-block;

}

.introduction-text-p {
    font-family: 'Inglobal', 'Arial';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 40px;
}

.description {
    position: relative;
}

.line {
    height: 254px;
    width: 100%;
    border-top: 2px solid rgba(204, 49, 0, 0.71);
    margin: 0 auto;
    text-align: center;
}

.orange-description {
    width: 100%;
    height: 770px;
    background-color: rgba(204, 49, 0, 0.71);
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.description-container {
    padding-top: 247px;
    width: 1144px;
    height: 523px;
    display: flex;
    justify-content: center;
    grid-gap: 50px; 
}

.description-head {
    font-family: 'Inglobal', 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
}

.description-p {
    font-family: "Inglobal", 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

.cards {
    display: flex;
    grid-gap: 10px;
    justify-content: center;
    padding-top: 100px;

}

.card {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    height: 307px;
    width: 225px;
    background-color: #FFE6BE;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 30px; 
    justify-content: space-between;
    overflow-y: none;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.card-img {
    height: 68px;
    width: 70px;
}

.card-p {
    font-family:'Inglobal', 'Arial';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    margin: 0;
}

.card-head {
    font-family: 'Inglobal', 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin: 0;
    margin-bottom: -10px;
}

.pink-circle {
    position: absolute;
    bottom: 100px;
    right: 400px;
}

.start-now {
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
    height: 1400px;
}

.start-now-article {
    padding-top: 80px;
    max-width: 1124px;
    height: 900px;
    margin: 0 auto;
}

.start-now-img {
    padding-left: 123px;
}

.save-time {
    position: absolute;
    border: rgba(204, 49, 0, 0.71) solid 2px;
    width: 517px;
    height: 500px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.5);
    background-color: #FFE6BE;
    bottom: 406px;
}

.save-time-head {
    font-family: 'Inglobal', 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 46px;
    padding-top: 50px;
    padding-left: 36px;
    padding-right: 36px;
    margin: 0;
    margin-bottom: 41px;
}

.save-time-p {
    font-family: 'Inglobal', 'Arial';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    padding-left: 36px;
    padding-right: 36px;
    margin: 0;
    margin-bottom: 53px;
}

.register-btn {
    margin-left: 36px;
}

 button {
	 position: relative;
	 display: inline-block;
	 cursor: pointer;
	 outline: none;
	 border: 0;
	 vertical-align: middle;
	 text-decoration: none;
	 background: transparent;
	 padding: 0;
	 font-size: inherit;
	 font-family: inherit;
}
 button.learn-more {
	 width: 12rem;
	 height: auto;
}
 button.learn-more .circle {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: relative;
	 display: block;
	 margin: 0;
	 width: 3rem;
	 height: 3rem;
	 background: rgba(204, 49, 0, 0.71);
	 border-radius: 1.625rem;
}
 button.learn-more .circle .icon {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 margin: auto;
	 background: #fff;
}
 button.learn-more .circle .icon.arrow {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 left: 0.625rem;
	 width: 1.125rem;
	 height: 0.125rem;
	 background: none;
}
 button.learn-more .circle .icon.arrow::before {
	 position: absolute;
	 content: '';
	 top: -0.25rem;
	 right: 0.0625rem;
	 width: 0.625rem;
	 height: 0.625rem;
	 border-top: 0.125rem solid #fff;
	 border-right: 0.125rem solid #fff;
	 transform: rotate(45deg);
}
 button.learn-more .button-text {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 padding: 0.75rem 0;
	 margin: 0 0 0 1.85rem;
	 color: #282936;
	 font-weight: 700;
	 line-height: 1.6;
	 text-align: center;
	 text-transform: uppercase;
}
 button:hover .circle {
	 width: 100%;
}
 button:hover .circle .icon.arrow {
	 background: #fff;
	 transform: translate(1rem, 0);
}
 button:hover .button-text {
	 color: #fff;
}
 
